<template>
  <section
    class="h-full w-full rounded-t-2xl bg-gray-400 dark:bg-gray-900 flex"
  ></section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api";
export default defineComponent({
  name: "Appointments",
  setup() {},
});
</script>
