<template>
  <nav class="bg-gray-900 dark:bg-gray-900 h-16 w-screen flex items-center">
    <img
      src="../assets/images/logo.png"
      alt="app-logo"
      class="h-12 w-12 mx-8"
    />
    <!--
      TODO ADD AN EVENT THAT CHANGES THE ARIA-CURRENT ATTRIBUTES ON A ROUTER HOOK
      TODO ADD HOVERING ON THE LINKS
      TODO SET UP I18N
      Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
    -->
    <navbar-link
      role="menuitem"
      v-for="link in defaultLinks"
      :key="defaultLinks.indexOf(link)"
      :address="link.address"
      :content="link.content"
    />
    <!-- sun icon -->
    <section class="hidden md:flex">
      <svg-icon
        class="mr-2"
        color="text-yellow-400"
        path="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
      />
      <button
        type="button"
        class="bg-white relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none"
        @click="
          $colorMode.value = $colorMode.value === 'dark' ? 'light' : 'dark'
        "
      >
        <span class="sr-only">Use setting</span>
        <span
          aria-hidden="true"
          class="pointer-events-none inline-block h-5 w-5 rounded-full bg-gray-400 dark:bg-gray-700 shadow transform ring-0 transition ease-in-out duration-200 translate-x-0 dark:translate-x-5"
        ></span>
      </button>
      <!-- moon icon -->
      <svg-icon
        class="ml-2"
        color="text-white"
        path="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
      />
    </section>
    <section class="ml-auto flex" v-if="!$auth.loggedIn">
      <navbar-link
        role="menuitem"
        v-for="link in unloggedLinks"
        :key="unloggedLinks.indexOf(link)"
        :address="link.address"
        :content="link.content"
      />
    </section>
    <section class="ml-auto flex" v-else>
      <!-- Profile dropdown -->
      <div class="relative mr-8">
        <button
          type="button"
          class="bg-gray-600 h-8 w-8 rounded-full flex justify-center items-center text-white text-sm ring-2 ring-blue-200 focus:outline-none"
          id="user-menu"
          aria-expanded="false"
          aria-haspopup="true"
          @click="toggleDropdownState"
        >
          <span class="sr-only">Open user menu</span>
          <!-- TODO REPLACE WITH A BETTER DEFAULT AVATAR -->
          <img
            :src="'../assets/images/' + $auth.user.avatarPath"
            alt="user-avatar"
            v-if="$auth.user"
          />
          <svg-icon
            color="text-blue-200"
            path="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
          />
        </button>
        <transition
          enter-active-class="transition ease-out duration-200"
          enter-class="transform opacity-0 scale-95"
          enter-to-class="transform opacity-100 scale-100"
          leave-active-class="transition ease-in duration-75"
          leave-class="transform opacity-100 scale-100"
          leave-to-class="transform opacity-0 scale-95"
        >
          <div
            class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu"
            v-if="dropdownState"
          >
            <nuxt-link
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              role="menuitem"
              v-for="link in dropdownLinks"
              :key="dropdownLinks.indexOf(link)"
              :to="link.address"
            >
              {{ link.content }}
            </nuxt-link>
          </div>
        </transition>
      </div>
      <button
        class="mr-8 bg-gray-600 h-8 w-8 rounded-full ring-2 flex justify-center items-center focus:outline-none"
        :class="
          $notifier.isAvailable
            ? 'text-green-400 ring-green-400'
            : 'text-red-400 ring-red-400'
        "
        @click="$notifier.toggleState"
      >
        <!-- For accessibility purposes -->
        <span class="sr-only">View notifications</span>
        <svg-icon
          custom-size="h-6 w-6"
          path="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
        />
      </button>
    </section>
  </nav>
</template>

<script lang="ts">
import NavbarLink from "~/components/NavbarLink.vue";
import SvgIcon from "~/components/SvgIcon.vue";
import { defineComponent, ref } from "@nuxtjs/composition-api";
export default defineComponent({
  name: "Navbar",
  head() {
    return {
      titleTemplate: "Test %s",
    };
  },
  components: {
    NavbarLink,
    SvgIcon,
  },
  setup() {
    const dropdownState = ref(false);
    const toggleDropdownState = () => {
      dropdownState.value = !dropdownState.value;
    };
    const defaultLinks = ref([
      {
        address: "/",
        content: "Accueil",
      },
      {
        address: "/discord",
        content: "Discord",
      },
    ]);
    const unloggedLinks = ref([
      {
        address: "/register",
        content: "S'inscrire",
      },
      {
        address: "/login",
        content: "Se connecter",
      },
    ]);
    const dropdownLinks = ref([
      {
        address: "/profile",
        content: "Profil",
      },
      {
        address: "/settings",
        content: "Paramètres",
      },
      {
        address: "/logout",
        content: "Se déconnecter",
      },
    ]);
    return {
      toggleDropdownState,
      dropdownState,
      defaultLinks,
      unloggedLinks,
      dropdownLinks,
    };
  },
});
</script>
