<template>
  <nuxt-link
    :to="$props.address"
    class="text-white pr-8 py-2 rounded-md text-sm font-medium flex items-center"
  >
    {{ $props.content }}
  </nuxt-link>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api";
export default defineComponent({
  name: "navbarLink",
  props: {
    address: {
      required: true,
      type: String,
    },
    content: {
      required: true,
      type: String,
    },
  },
  setup(props) {
    return {
      props,
    };
  },
});
</script>
