<template>
  <div
    class="fixed inset-0 px-4 py-6 w-screen flex justify-end pointer-events-none md:p-6"
  >
    <transition-group
      enter-active-class="transform ease-out delay-150 duration-300 transition"
      enter-class="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
      enter-to-class="translate-y-0 opacity-100 sm:translate-x-0"
      leave-active-class="transition ease-in duration-200"
      leave-class="opacity-100"
      leave-to-class="opacity-0"
      class="w-full flex flex-col-reverse items-center lg:flex-col lg:items-end"
    >
      <div
        v-for="notification in notifList"
        :key="notifList.indexOf(notification)"
        class="bg-white max-w-sm w-full shadow-lg rounded-lg mb-4 pointer-events-auto"
      >
        <div class="rounded-lg shadow-xs overflow-hidden flex items-start p-4">
          <div class="flex-shrink-0">
            <svg-icon
              color="text-green-500"
              path="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
              v-if="notification.status === 'success'"
            />
            <svg-icon
              color="text-yellow-500"
              path="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              v-if="notification.status === 'danger'"
            />
            <svg-icon
              color="text-red-500"
              path="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              v-if="notification.status === 'error'"
            />
          </div>
          <div class="ml-3 w-0 flex-1 pt-0.5">
            <p
              class="text-sm leading-5 font-medium"
              :class="{
                'text-green-500': notification.status === 'success',
                'text-yellow-500': notification.status === 'danger',
                'text-red-500': notification.status === 'error',
              }"
            >
              {{
                notification.status === "success"
                  ? "Succès"
                  : notification.status === "danger"
                  ? "Attention"
                  : "Erreur"
              }}
            </p>
            <p class="mt-1 text-sm leading-5 text-gray-500">
              {{ notification.content }}
            </p>
          </div>
          <div class="ml-4 flex-shrink-0 flex">
            <button
              class="inline-flex text-gray-400 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150"
              @click="removeElement(notification)"
            >
              <svg-icon
                path="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              />
            </button>
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script lang="ts">
import SvgIcon from "~/components/SvgIcon.vue";
import { defineComponent, useContext } from "@nuxtjs/composition-api";
export default defineComponent({
  name: "Notify",
  components: {
    SvgIcon,
  },
  computed: {
    notifList() {
      return useContext().store.state.notify.notifList;
    },
    title(): string {
      return this.notifList[0].status;
    },
  },
  setup() {
    const { $notifier } = useContext();
    const removeElement = (notif: { status: ""; content: "" }) => {
      $notifier.removeNotif(notif);
    };
    return { removeElement };
  },
});
</script>
