<template>
  <svg
    :class="[color, customSize ? customSize : 'h-6 w-6']"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      :d="path"
    />
    <path
      v-if="twoPaths"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      :d="secondPath"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api";
export default defineComponent({
  name: "SvgIcon",
  props: {
    color: {
      type: String,
    },
    path: {
      type: String,
      required: true,
    },
    twoPaths: {
      type: Boolean,
      default: false,
    },
    secondPath: {
      type: String,
    },
    customSize: {
      type: String,
      default: "",
    },
  },
  setup(props) {
    return {
      props,
    };
  },
});
</script>
