$green: #a3b2b1;
.bg-pink {
  background-color: #ce9b9b;
}
.bg-green {
  background-color: $green;
}
.border-green {
  border-color: $green;
}
.text-green {
  color: $green;
}
.bg-off-white {
  background-color: #f1edf7;
}
