<template>
  <section class="h-full w-full rounded-t-2xl flex flex-col text-white">
    <header
      class="bg-gray-900 rounded-t-2xl h-1/5 border-b border-gray-300 dark:border-blue-900 flex justify-between items-center px-2"
    >
      <h2 class="lg:text-2xl text-white">{{ title }}</h2>
      <button class="focus:outline-none" @click="addObjective">
        <svg-icon
          path="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          color="text-blue-500"
        />
      </button>
    </header>
    <ul class="h-4/5 bg-gray-400 dark:bg-gray-900">
      <li
        class="h-8 w-full text-dark dark:text-white flex items-center"
        v-for="objective in objectives"
      >
        <span class="w-12 lg:pl-2">
          {{ objective.title }}
        </span>
        <span class="w-1/2 lg:pl-2">{{ objective.description }}</span>
        <span class="w-1/8">
          <button
            type="button"
            class="bg-green-500 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none"
            :class="objective.isUrgent ? 'bg-green-500' : 'bg-gray-700'"
            @click="toggleUrgency(objective)"
          >
            <span class="sr-only">Change {{ objective.title }}'s urgency</span>
            <span
              aria-hidden="true"
              :class="objective.isUrgent ? 'translate-x-5' : 'translate-x-0'"
              class="pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"
            ></span>
          </button>
        </span>
        <span class="w-1/8 lg:mx-12">
          <button
            type="button"
            class="bg-green-500 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none"
            :class="objective.isOptional ? 'bg-green-500' : 'bg-gray-700'"
            @click="toggleOptional(objective)"
          >
            <span class="sr-only">
              Change {{ objective.title }}'s optional state
            </span>
            <span
              aria-hidden="true"
              :class="objective.isOptional ? 'translate-x-5' : 'translate-x-0'"
              class="pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"
            ></span>
          </button>
        </span>
        <span class="w-1/8">{{ objective.order }}</span>
        <button
          class="focus:outline-none w-1/8"
          @click="validateObjective(objective)"
        >
          <svg-icon
            color="text-green-400"
            path="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </button>
      </li>
    </ul>
  </section>
</template>

<script lang="ts">
import SvgIcon from "~/components/SvgIcon.vue";
import { defineComponent, ref } from "@nuxtjs/composition-api";
interface Objective {
  title: string;
  description: string;
  isUrgent: boolean;
  isOptional: boolean;
  order: number;
}

export default defineComponent({
  name: "ObjectivesContainer",
  components: {
    SvgIcon,
  },
  props: {
    title: {
      required: true,
      type: String,
    },
  },
  setup() {
    const objectives = ref([] as Array<Objective>);
    const addObjective = () => {
      objectives.value.push({
        title: "défaut",
        description: "défaut",
        isUrgent: false,
        isOptional: true,
        order: objectives.value.length + 1,
      });
    };
    const toggleUrgency = (objective: Objective) => {
      objective.isUrgent = !objective.isUrgent;
    };
    const toggleOptional = (objective: Objective) => {
      objective.isOptional = !objective.isOptional;
    };
    const validateObjective = (objective: Objective) => {
      // TODO REPLACE WITH AXIOS
      objectives.value.splice(objectives.value.indexOf(objective), 1);
    };
    return {
      objectives,
      addObjective,
      toggleUrgency,
      toggleOptional,
      validateObjective,
    };
  },
});
</script>

<style lang="scss" scoped>
span {
  height: 100%;
  display: flex;
  align-items: center;
}
</style>
