<template>
  <section class="h-full w-full rounded-t-2xl bg-gray-400 dark:bg-gray-900">
    <header
      class="h-1/2 w-full rounded-t-2xl dark:text-white flex flex-col justify-center items-center"
    >
      <h3>
        {{ isWork ? "Pomodoro" : "Pause" }}
      </h3>
      <span>
        {{ minutes >= 10 ? minutes : `0${minutes}` }}
        :
        {{ seconds >= 10 ? seconds : `0${seconds}` }}
      </span>
      <section>
        <button class="focus:outline-none" @click="startTimer">
          <svg-icon
            color="text-green-700 dark:text-green-400"
            :two-paths="true"
            path="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"
            second-path="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </button>
        <button class="focus:outline-none" @click="pauseTimer">
          <svg-icon
            color="text-blue-700 dark:text-blue-400"
            path="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </button>
        <button class="focus:outline-none" @click="resetTimer">
          <svg-icon
            color="text-red-700 dark:text-red-400"
            path="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            :two-paths="true"
            second-path="M9 10a1 1 0 011-1h4a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 01-1-1v-4z"
          />
        </button>
      </section>
    </header>
    <slot name="currentTask"></slot>
  </section>
</template>

<script lang="ts">
import SvgIcon from "~/components/SvgIcon.vue";
import { defineComponent, ref } from "@nuxtjs/composition-api";

export default defineComponent({
  name: "PomodoroContainer",
  components: {
    SvgIcon,
  },
  setup(props, { emit }) {
    const minutes = ref(25);
    const seconds = ref(0);
    const isWork = ref(true);
    const isTimerActive = ref(false);
    const pausesCount = ref(0);
    const startTimer = async () => {
      if (isTimerActive.value) return;
      isTimerActive.value = true;
      setInterval(() => {
        if (!isTimerActive.value) {
          return;
        }
        if (minutes.value === 0 && seconds.value === 0) {
          if (isWork) {
            if (pausesCount.value < 3) {
              // little break
              pausesCount.value += 1;
              minutes.value = 4;
            } else {
              // big break
              minutes.value = 14;
              pausesCount.value = 0;
            }
            // send event to inform the parent.
            console.log("supposedly called");
            emit("finishPomodoro");
          } else {
            minutes.value = 24;
          }
          seconds.value = 59;
          isWork.value = !isWork.value;
        } else {
          if (seconds.value === 0) {
            minutes.value -= 1;
            seconds.value = 59;
          } else {
            seconds.value -= 1;
          }
        }
      }, 1000);
    };
    const pauseTimer = () => {
      isTimerActive.value = false;
    };
    const resetTimer = () => {
      isTimerActive.value = false;
      isWork.value = true;
      minutes.value = 25;
      seconds.value = 0;
    };
    return {
      minutes,
      seconds,
      isWork,
      isTimerActive,
      startTimer,
      pauseTimer,
      resetTimer,
    };
  },
});
</script>
