<template>
  <section class="h-full rounded-t-2xl flex flex-col text-white">
    <header
      class="bg-gray-900 rounded-t-2xl h-1/5 border-b border-gray-300 dark:border-blue-900 flex justify-between items-center px-2"
    >
      <h2 class="lg:text-2xl">{{ title }}</h2>
      <slot name="button" />
    </header>
    <slot name="content" />
  </section>
</template>

<script lang="ts">
import SvgIcon from "~/components/SvgIcon.vue";
import { defineComponent } from "@nuxtjs/composition-api";

export default defineComponent({
  name: "UnfoldingBlock",
  components: {
    SvgIcon,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    return {
      props,
    };
  },
});
</script>
