<template>
  <div
    class="h-screen w-screen bg-white dark:bg-gray-700 overflow-hidden flex flex-col"
  >
    <Navbar />
    <Notify />
    <Nuxt />
  </div>
</template>

<script lang="ts">
import Navbar from "@/components/Navbar.vue";
import Notify from "~/components/Notifications.vue";
import { defineComponent } from "@nuxtjs/composition-api";

export default defineComponent({
  components: {
    Notify,
    Navbar,
  },
  head() {
    return {
      htmlAttrs: {
        class: this.$colorMode.value,
      },
    };
  },
});
</script>
