<template>
  <main
    class="p-8 overflow-hidden h-full w-full grid grid-cols-3 grid-rows-4 gap-12"
  >
    <tasks-container title="À faire" id="unfinished-tasks-list">
      <template #button>
        <button class="focus:outline-none" @click="addTask">
          <svg-icon
            path="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            color="text-blue-500"
          />
        </button>
      </template>
      <template #content>
        <ul
          class="h-4/5 bg-gray-400 dark:bg-gray-900 text-black flex flex-col overflow-y-auto"
        >
          <li
            class="h-8 w-full text-dark dark:text-white flex items-center"
            v-for="task in unfinishedTasks"
          >
            <span class="w-3/4 pl-2">{{ task.content }}</span>
            <button
              class="focus:outline-none"
              @click="decreaseRepetitions(task)"
            >
              <svg-icon
                color="text-green-700 dark:text-white"
                path="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </button>
            <span class="px-1 text-lg">{{ task.repetitions }}</span>
            <button
              class="focus:outline-none mr-2"
              @click="increaseRepetitions(task)"
            >
              <svg-icon
                color="text-green-700 dark:text-white"
                path="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </button>
            <button
              class="focus:outline-none mr-2"
              @click="toggleRecurrencyState(task)"
            >
              <svg-icon
                :color="
                  task.isRecurrent
                    ? 'text-green-700 dark:text-green-500'
                    : 'text-red-700 dark:text-red-500'
                "
                path="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"
              />
            </button>
            <button class="focus:outline-none" @click="validateTask(task)">
              <svg-icon
                color="text-green-700 dark:text-green-400"
                path="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </button>
            <button class="focus:outline-none mx-2" @click="deleteTask(task)">
              <svg-icon
                color="text-red-700 dark:text-red-400"
                path="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
              />
            </button>
          </li>
        </ul>
      </template>
    </tasks-container>
    <tasks-container title="Fait" id="finished-tasks-list">
      <template #content>
        <ul
          class="h-4/5 bg-gray-400 dark:bg-gray-900 text-black dark:text-white overflow-y-auto"
        >
          <li
            class="h-8 w-full flex items-center"
            v-for="task in finishedTasks"
          >
            <span class="pl-2 line-through">{{ task.content }}</span>
            <button
              class="ml-auto mr-2 focus:outline-none"
              @click="invalidateTask(task)"
            >
              <svg-icon
                color="text-blue-700 dark:text-blue-400"
                path="M5 11l7-7 7 7M5 19l7-7 7 7"
              />
            </button>
            <button class="pr-2" @click="deleteTask(task)">
              <svg-icon
                color="text-red-700 dark:text-red-400"
                path="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
              />
            </button>
          </li>
        </ul>
      </template>
    </tasks-container>
    <pomodoro-container @finishPomodoro="updateTasks" id="pomodoro-container">
      <!-- using a template to be able to access unfinishedTasks easily -->
      <template #currentTask>
        <span
          class="w-full flex justify-center text-3xl dark:text-white"
          v-if="unfinishedTasks[0]"
        >
          {{ unfinishedTasks[0].content }}
        </span>
      </template>
    </pomodoro-container>
    <appointments id="appointments" />
    <objectives-container id="objectives-list" title="Objectifs" />
  </main>
</template>

<script lang="ts">
import TasksContainer from "~/components/containers/TasksContainer.vue";
import SvgIcon from "~/components/SvgIcon.vue";
import PomodoroContainer from "~/components/containers/PomodoroContainer.vue";
import ObjectivesContainer from "~/components/containers/ObjectivesContainer.vue";
import Appointments from "~/components/Appointments.vue";
import { defineComponent, ref, useContext } from "@nuxtjs/composition-api";

export default defineComponent({
  name: "index",
  head() {
    return {
      bodyAttrs: {
        class: this.$colorMode.value,
      },
      titleTemplate: "Accueil %s",
    };
  },
  components: {
    TasksContainer,
    SvgIcon,
    PomodoroContainer,
    ObjectivesContainer,
    Appointments,
  },
  layout: "Dashboard",
  setup() {
    const { $notifier } = useContext();
    //region Tasks
    interface Task {
      content: string;
      repetitions: number;
      isRecurrent: boolean;
    }
    const addTask = () => {
      unfinishedTasks.value.push({
        content: "défaut",
        repetitions: 1,
        isRecurrent: false,
      });
      console.log(unfinishedTasks.value);
    };
    // TODO IMPORT DYNAMICALLY INSTEAD OF HARDCODING
    const unfinishedTasks = ref([
      {
        content: "foo",
        repetitions: 1,
        isRecurrent: true,
      },
    ] as Array<Task>);
    const decreaseRepetitions = (task: Task) => {
      if (task.repetitions >= 1) {
        task.repetitions -= 1;
      } else {
        $notifier.addNotif({
          content: "Vous ne pouvez pas descendre en dessous de 0 répétitions",
          status: "error",
        });
      }
    };
    const increaseRepetitions = (task: Task) => {
      task.repetitions += 1;
    };
    const finishedTasks = ref([
      {
        content: "bar",
        repetitions: 2,
        isRecurrent: false,
      },
    ] as Array<Task>);
    const toggleRecurrencyState = (task: Task) => {
      task.isRecurrent = !task.isRecurrent;
    };
    const validateTask = (task: Task) => {
      finishedTasks.value.push(task);
      try {
        console.log({ ...unfinishedTasks.value[0] });
        unfinishedTasks.value.splice(unfinishedTasks.value.indexOf(task), 1);
      } catch (e) {
        console.error(e);
      }
    };
    const deleteTask = (task: Task) => {
      if (unfinishedTasks.value.includes(task)) {
        unfinishedTasks.value.splice(unfinishedTasks.value.indexOf(task), 1);
      } else if (finishedTasks.value.includes(task)) {
        finishedTasks.value.splice(finishedTasks.value.indexOf(task), 1);
      }
    };
    const invalidateTask = (task: Task) => {
      finishedTasks.value.splice(finishedTasks.value.indexOf(task), 1);
      unfinishedTasks.value.push(task);
    };
    const updateTasks = () => {
      try {
        if (unfinishedTasks.value[0].repetitions === 1) {
          validateTask(unfinishedTasks.value[0]);
        } else {
          unfinishedTasks.value[0].repetitions -= 1;
        }
      } catch (e) {
        console.error(e);
      }
    };
    //endregion
    return {
      //region Tasks data
      addTask,
      unfinishedTasks,
      decreaseRepetitions,
      increaseRepetitions,
      finishedTasks,
      toggleRecurrencyState,
      validateTask,
      deleteTask,
      invalidateTask,
      updateTasks,
      //endregion
    };
  },
});
</script>

<style lang="scss">
ul {
  //scrollbar-color: rgb(17, 24, 39) #e5baab;
  scrollbar-color: #00d197 rgb(17, 24, 39);
  ::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
  }
  ::-webkit-scrollbar-track {
    background-color: black;
    cursor: pointer;
  }
}
#unfinished-tasks-list {
  grid-area: 1 / 1 / 3 / 2;
}
#finished-tasks-list {
  grid-area: 3 / 1 / 5 / 2;
}
#pomodoro-container {
  grid-area: 1 / 2 / 3 / 3;
}
#appointments {
  grid-area: 1 / 3 / 3 / 4;
}
#objectives-list {
  grid-area: 3 / 2 / 5 / 4;
}
</style>
