<template>
  <main class="h-full w-full flex justify-center items-center flex-col">
    <button @click="createRandomNotif">Click</button>
    <select
      v-model="$colorMode.preference"
      class="border w-24 h-8 dark:bg-gray-900 dark:text-white dark:border-gray-700"
    >
      <option value="system">System</option>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
    <div class="text-green-700 dark:text-red-300">{{ $colorMode.value }}</div>
  </main>
</template>

<script lang="ts">
import { defineComponent, useContext } from "@nuxtjs/composition-api";
export default defineComponent({
  name: "test",
  layout: "Dashboard",
  setup() {
    const { $notifier } = useContext();
    const createRandomNotif = () => {
      $notifier.addNotif({ content: "test", status: "error" });
    };
    return {
      createRandomNotif,
    };
  },
});
</script>
